fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
python-dotenv
supabase
python-multipart
pydantic
pydantic-settings
passlib[bcrypt]
python-jose[cryptography]
pyjwt
email-validator
opencv-python
numpy
pillow
torch
torchvision
scikit-image
requests
xarray
netCDF4
h5py
scipy
h5netcdf
pysteps